body {
    background-color: #303030;
}

.wow {
   visibility: hidden;
}

/* DROPDOWN ANIMATION */
@media (min-width: 768px) {
    .dropdown-menu {
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
        transform: rotateX(90deg);
        transform-origin: top;
        opacity: 0;
        display: block;
    }
    .open .dropdown-menu {
        opacity: 1;
        transform: rotateX(0deg);
    }
}
/* ################## */