body {
    background-color: #212121;
}

.login {
    margin-top: 50px;
}

.login .login-icon {
    margin-right: 5px;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #ff1e1e;
    color: white;
}

.panel {
    border: 1px solid black;
}