@media (min-width: 768px) {
	.wrapper {
		width: 70%;
		margin: 0 auto;
	}
}

@media (max-width: 767px) {
	.wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.panel > .panel-heading {
    background-color: #404040;
    border: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel > .panel-body {
    background-color: rgb(255,255,255);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: 0px;
}

.panel {
    border: 0px solid white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,0);
}

.btn-hide {
    background-color: rgba(80, 75, 80, 1);
    border: 1px solid rgba(100, 95, 100, 0.75);
    color: white;
    margin-top: -5px;
    padding: 4px 7px;
    font-weight: bolder;
    width: 45px;
}

.panel-add-bot-radius {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.wrapper-panel {
    margin: 2%;
    margin-top:0px;
}

.poke-body {
    display: none;
}

.wrapper-btnadd {
    border: 2px dashed #404040;
    background-color: #383838;
    height: 9em;
    position: relative;
}

.wrapper-btnadd > .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

